@page "/new-item"
@using Mvvm.Business
@inject NewItemViewModel ViewModel
@inject NavigationManager NavManager

<EditForm Model="ViewModel">
    <h2>Text: </h2>
    <input type="text" @bind-value="@ViewModel.Item.Text" />
    <h2>Description: </h2>
    <input type="text" @bind-value="@ViewModel.Item.Description" />
    <div>
        <button @onclick="Save">Save</button>
        <button @onclick="Cancel">Cancel</button>
    </div>
</EditForm>


@code
{
    private void Save()
    {
        ViewModel.AddItemCommand.Execute(null);
        NavManager.NavigateTo("/browse");
    }


    private void Cancel()
    {
        NavManager.NavigateTo("/browse");
    }
}
